version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: noteapp_php
    volumes:
      - ./src:/var/www/html
    ports:
      - "8000:8000"
    stdin_open: true
    tty: true

  db:
    image: mysql:8.0
    container_name: noteapp_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: noteapp
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
